flows.json
[{"id":"ffc361b4.4c12d","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"26cd4b39.7af6b4","type":"function","z":"ffc361b4.4c12d","name":"PreToken","func":"global.set(\"id\",msg.payload.id)\nglobal.set(\"age\",msg.payload.age)\nglobal.set(\"bp\",msg.payload.bp)\nglobal.set(\"sg\",msg.payload.sg)\nglobal.set(\"al\",msg.payload.al)\nglobal.set(\"su\",msg.payload.su)\nglobal.set(\"rbc\",msg.payload.rbc)\nglobal.set(\"pc\",msg.payload.pc)\nglobal.set(\"pcc\",msg.payload.pcc)\nglobal.set(\"ba\",msg.payload.ba)\nglobal.set(\"bgr\",msg.payload.bgr)\nglobal.set(\"bu\",msg.payload.bu)\nglobal.set(\"sc\",msg.payload.sc)\nglobal.set(\"sod\",msg.payload.sod)\nglobal.set(\"pot\",msg.payload.pot)\nglobal.set(\"hemo\",msg.payload.hemo)\nglobal.set(\"pcv\",msg.payload.pcv)\nglobal.set(\"wc\",msg.payload.wc)\nglobal.set(\"rc\",msg.payload.rc)\nglobal.set(\"htn\",msg.payload.htn)\nglobal.set(\"dm\",msg.payload.dm)\nglobal.set(\"cad\",msg.payload.cad)\nglobal.set(\"appet\",msg.payload.appet)\nglobal.set(\"pe\",msg.payload.pe)\nglobal.set(\"ane\",msg.payload.ane)\nvar apikey=\"b7XX7KGlm3d9dG-NjL4jEQMcR8CXhGHEBOX07Y3wYZNd\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":360,"wires":[["356caec2.c02b32"]]},{"id":"356caec2.c02b32","type":"http request","z":"ffc361b4.4c12d","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":459,"y":348.9999952316284,"wires":[["5813307d.5856b"]]},{"id":"ed5f2ea6.622d6","type":"debug","z":"ffc361b4.4c12d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":898.0000114440918,"y":90.99999713897705,"wires":[]},{"id":"5813307d.5856b","type":"function","z":"ffc361b4.4c12d","name":"Pre Prediction","func":"var id = global.get('id')\nvar age = global.get('age')\nvar bp = global.get('bp')\nvar sg = global.get('sg')\nvar al = global.get('al')\nvar su = global.get('su')\nvar rbc = global.get('rbc')\nvar pc = global.get('pc')\nvar pcc = global.get('pcc')\nvar ba = global.get('ba')\nvar bgr = global.get('bgr')\nvar bu = global.get('bu')\nvar sc= global.get('sc')\nvar sod= global.get('sod')\nvar pot = global.get('pot')\nvar hemo= global.get('hemo')\nvar pcv= global.get('pcv')\nvar wc = global.get('wc')\nvar rc = global.get('rc')\nvar htn = global.get('htn')\nvar dm= global.get('dm')\nvar cad = global.get('cad')\nvar appet = global.get('appet')\nvar pe = global.get('pe')\nvar ane = global.get('ane')\nvar token=msg.payload.access_token\nvar instance_id=\"139778f8-b31a-4745-883f-bcb33b06a5b5\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"Id\",\"Age\",\"Bp\",\"Sg\",\"Al\",\"Su\",\"Rbc\",\"Pc\",\"Pcc\",\"Ba\",\"Bgr\",\"Bu\",\"Sc\",\"Sod\",\"Pot\",\"Hemo\",\"Pcv\",\"Wc\",\"Rc\",\"Htn\",\"Dm\",\"Cad\",\"Appet\",\"Pe\",\"Ane\"],\"values\": [[id,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,bu,sc,sod,pot,hemo,pcv,wc,rc,htn,dm,cad,appet,pe,ane]]}]}\nreturn msg;\n","outputs":1,"noerr":0,"x":656.0000076293945,"y":311.9999990463257,"wires":[["8258ca6e.a6c338"]]},{"id":"8258ca6e.a6c338","type":"http request","z":"ffc361b4.4c12d","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/f381f497-87e8-402b-ac75-2b09d4a55689/predictions","tls":"","persist":false,"proxy":"","authType":"","x":749.5000076293945,"y":255.99999904632568,"wires":[["c0c71f6e.36ee6","ed5f2ea6.622d6"]]},{"id":"770a315b.0c426","type":"ui_form","z":"ffc361b4.4c12d","name":"","label":"","group":"c9981d1a.116c9","order":0,"width":0,"height":0,"options":[{"label":"id","value":"id","type":"number","required":false,"rows":null},{"label":"age","value":"age","type":"number","required":false,"rows":null},{"label":"bp","value":"bp","type":"number","required":false,"rows":null},{"label":"sg","value":"sg","type":"number","required":false,"rows":null},{"label":"al","value":"al","type":"number","required":false,"rows":null},{"label":"su","value":"su","type":"number","required":false,"rows":null},{"label":"rbc","value":"rbc","type":"text","required":false,"rows":null},{"label":"pc","value":"pc","type":"text","required":false,"rows":null},{"label":"pcc","value":"pcc","type":"text","required":false,"rows":null},{"label":"ba","value":"ba","type":"text","required":false,"rows":null},{"label":"bgr","value":"bgr","type":"number","required":false,"rows":null},{"label":"bu","value":"bu","type":"number","required":false,"rows":null},{"label":"sc","value":"sc","type":"number","required":false,"rows":null},{"label":"sod","value":"sod","type":"number","required":false,"rows":null},{"label":"pot","value":"pot","type":"number","required":false,"rows":null},{"label":"hemo","value":"hemo","type":"number","required":false,"rows":null},{"label":"pcv","value":"pcv","type":"number","required":false,"rows":null},{"label":"wc","value":"wc","type":"number","required":false,"rows":null},{"label":"rc","value":"rc","type":"number","required":false,"rows":null},{"label":"htn","value":"htn","type":"text","required":false,"rows":null},{"label":"dm","value":"dm","type":"text","required":false,"rows":null},{"label":"cad","value":"cad","type":"text","required":false,"rows":null},{"label":"appet","value":"appet","type":"text","required":false,"rows":null},{"label":"pe","value":"pe","type":"text","required":false,"rows":null},{"label":"ane","value":"ane","type":"text","required":false,"rows":null}],"formValue":{"id":"","age":"","bp":"","sg":"","al":"","su":"","rbc":"","pc":"","pcc":"","ba":"","bgr":"","bu":"","sc":"","sod":"","pot":"","hemo":"","pcv":"","wc":"","rc":"","htn":"","dm":"","cad":"","appet":"","pe":"","ane":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":51,"y":402.9999952316284,"wires":[["26cd4b39.7af6b4"]]},{"id":"136cfe9.c766001","type":"ui_text","z":"ffc361b4.4c12d","group":"c9981d1a.116c9","order":1,"width":0,"height":0,"name":"","label":"classification","format":"{{msg.payload}}","layout":"row-spread","x":797.6000366210938,"y":408.20000743865967,"wires":[]},{"id":"c0c71f6e.36ee6","type":"function","z":"ffc361b4.4c12d","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":609.6000366210938,"y":151.60000133514404,"wires":[["ed5f2ea6.622d6","136cfe9.c766001"]]},{"id":"c9981d1a.116c9","type":"ui_group","z":"","name":"Default","tab":"2ecc5c54.c4c904","order":1,"disp":true,"width":"6","collapse":false},{"id":"2ecc5c54.c4c904","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]